db-dtypes
google-cloud-bigquery==3.13.0
google-cloud-storage
numpy==1.26.2
pandas==2.1.3
scikit-learn==1.3.2
shapely==2.0.2
seaborn==0.13
tensorflow==2.15.0
tensorflow_probability==0.23.0
fastapi
pydantic
uvicorn